// Formulaire de contact
.contact-form {
  overflow: hidden;
  .form-type-textarea {
    padding: 6px 16px;
  }
  input, textarea {
    border:none;
    border-bottom: 1px solid $gray;
    height: 25px;
    font-size: 16px;
    font-size: 1rem;
    color: #383838;
    width:100%;
    &:focus {
      outline: none;
      border-bottom: 1px $orange solid;
    }
  }
  textarea {
    height: 5rem;
    resize: vertical;
  }
  input[type=submit] {
    width: 30%;
    float: right;
    padding: 16px 16px;
    color: $white;
    font-weight: bold;
  }

}