//Page listing home page
.listing-home {
  h3 {
    a {
      text-decoration: none;
    }
  }

  .field-node--field-tags {
    .field-label {
      text-transform: capitalize;
    }
    ul.field-items {
      li {
        display: inline-block;
      }
    }
  }
  ul.links {
    width:100%;
    display: inline-block;
    li {
      float:right;
      a{
      }
    }
  }

}