

.cd-main-header {
  color: white;
  @include MediaQuery(desktop) {
    background-color: #000066;
    height: 80px;
  }
  @include MediaQuery(tablet) {
    background-color: #a94442;
    height: 50px;
  }
  @include MediaQuery(mobile) {
    background-color: #dd5522;
    height: 50px;
  }
}