/* line 3, ../../sass/regions/header.scss */
header.cd-main-header {
  color: white;
}
/* line 6, ../../sass/regions/header.scss */
header.cd-main-header nav {
  float: right;
  width: auto;
  height: auto;
}
