{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'region',
'region-' ~ region|clean_class,
'cd-main-header',
] %}
<header {{ attributes.addClass(classes) }}">
<div class="contenaire">
    <a href="/"><img id="logo" src="/themes/blog/images/K.jpg" alt="Logo"></a>
    <nav>
        {{ menu_header }}
    </nav>
</div>
</header>

