{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'region',
'region-' ~ region|clean_class,
] %}

<header class="cd-main-header">
    <a class="cd-logo" href="#0"><img src="img/cd-logo.svg" alt="Logo"></a>
    <nav class="cd-nav">
        {{ menu_header }}
    </nav>
    <ul class="cd-header-buttons">
        <li><a class="cd-search-trigger" href="#cd-search">Search<span></span></a></li>
        <li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
    </ul>
</header>

{% if content %}
    <div{{ attributes.addClass(classes) }}>
        {{ content }}
    </div>
{% endif %}
