
@import "compass";
@import "partial/_reset";
@import "partial/_variables";
@import "partial/_mixing";
@import "regions/_header";
@import "regions/_footer";
@import "assets/_listing";
@import "assets/_all";
@import "assets/form_contact";
//lib icon
@import "../lib/Font-Awesome-master/css/font-awesome.min.css";

.black {
  color:$black;
}
body {
  background-color: $gray;
  color:$black;
  main {
    margin-top: 20px;
    .layout-content {
      width: 90%;
      max-width: 800px;
      margin: 0 auto;
      background-color: $white;
      padding: 15px;

      font-family: "Merriweather", georgia, serif;
      font-size: 1.1rem;
      line-height: 1.4;
    }
  }
}


